[Unit]
Description = Mumble Client  
Requires = systemd-user-sessions.service network.target sound.target
After = multi-user.target

[Service]
User = mumble
Group = mumble
Type = simple  
EnvironmentFile = /boot/mumble_env.sh
ExecStart = /bin/bash -c "/home/mumble/bin/talkiepi -server ${SERVER} -password ${PASSWORD} -username ${USERNAME} -channel ${CHANNEL} -assignedNum ${CHANNEL} -insecure"
Restart = always 
RestartSec = 5

[Install]
WantedBy = multi-user.target
