[Unit]
Description = Mumble Client  
Requires = systemd-user-sessions.service network.target sound.target
After = multi-user.target

[Service]
User = mumble
Group = mumble
Type = simple  
ExecStart = /home/mumble/bin/talkiepi -server 192.168.1.30:64738 -password fablab -username zero01 -channel 7 -insecure
Restart = always 
RestartSec = 5

[Install]
WantedBy = multi-user.target
